.block {
    width: 450px;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.block:first-child {
    border-top: none;
}

.add-ipsum-form .form-row {
    display: flex;
    margin-bottom: 10px;
}
.add-ipsum-form .form-row select {
    width: 100%;
    padding: 2px 5px;
}
.add-ipsum-form .form-row textarea {
    width: 100%; height: 100px;
    padding: 2px 5px;
    resize: vertical;
}
.add-ipsum-form .form-row button {
    width: 100%;
    padding: 2px 25px;
}

.ipsum-records-list-container {
    padding: 0 5px;
    overflow-y: auto;
}
.ipsum-records-list-filter {
    display: flex; gap: 5px; flex-wrap: wrap;
    padding: 5px 10px;
}
.ipsum-records-list-filter .ipsum-record-filter {
    padding: 5px 10px;
    cursor: pointer;
}
.ipsum-records-list-filter .ipsum-record-filter:hover {
    background-color: #eee;
}
.ipsum-records-list-filter .ipsum-record-filter.active {
    background-color: #eee;
}
.ipsum-records-list {
    padding: 0;
    list-style: none;
}
.ipsum-records-list li {
    position: relative;
    display: flex; flex-direction: column; gap: 10px;
    padding: 0 10px 10px 10px; margin-bottom: 10px;
    border: 2px solid #eee;
}
.ipsum-records-list li.filtered-out {
    display: none;
}
.ipsum-records-list li .type {
    margin: 0 -10px; padding: 5px 10px;
    background-color: #eee;
}
.ipsum-records-list li .delete {
    position: absolute; top: 0; right: 5px;
    display: flex; justify-content: center; align-items: center;
    width: 20px; height: 20px;
    font-size: 12px; font-weight: bold;
    cursor: pointer;
}
.ipsum-records-list li .delete:hover {
    background-color: #ccc;
}

.collapsable {}
.collapsable .collapse-head {
    display: flex; justify-content: space-between; align-items: center;
    cursor: pointer;
    margin: 0 -10px; padding: 0 10px;
}
.collapsable .collapse-head:hover {
    background-color: #eee;
}
.collapsable .collapse-head .collapse-button {
    display: flex; align-items: center; justify-content: center;
    width: 20px; height: 20px;
    transform: scaleY(-1);
}
.collapsable .collapse-body {
    display: none;
    padding: 15px 0;
}
.collapsable.open .collapse-head .collapse-button {
    transform: scaleY(1);
}
.collapsable.open .collapse-body {
    display: block;
}
